/* #header {
  background-color: #ffffff;
  padding: 20px 0;
  height: 100px;
  flex-shrink: 0;
  font-family: 'Open Sans';
}

.container {
  max-width: 1341px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.search form {
  display: flex;
  align-items: center;
  position: relative;
}

.search input {
  width: 523px;
  height: 34px;
  border: 1px solid #ffffff;
  background: #FCF5ED;
  border-radius: 10px;
  margin-right: 250px;
  padding: 20px;
}

.search button {
  position: absolute;
  right: 252px;
  background-color: transparent;
  border: none;
  color: #000000;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: #666;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

.menu a:hover {
  color: #ff8d66;
} */

@font-face {
  font-family: 'Open Sans';
  src: url(OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #23232e;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Open Sans';
  font-size: 16px;
}

a:hover {
  opacity: 0.7;
}

.logo {
  width: 80px;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: white;
  height: 16vh;
}

main {
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  z-index: 3
}

.mobile-menu div {
  width: 25px;
  height: 2px;
  background: #23232e;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 2;

  }


  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .logo {
    width: 60px;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }

}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}











.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-top-big {
  margin-top: 5rem !important;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff;
  background: #FCF5ED;
  ;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  /*
          animation-delay: 3s;
          animation-iteration-count: 3;
          */
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  -webkit-animation: moveInRight 1s ease-out;
  animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: transparent;
  letter-spacing: 0.2rem;
  line-height: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #594949;
  padding: 20px;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background: -webkit-gradient(linear, left top, right top, from(#6C5F5B), to(#ED7D31));
  background: linear-gradient(to right, #6C5F5B), (#ED7D31);
  color: #fff;
}

.btn--green::after {
  background-color: #55c57a;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section-plans {
  background-color: #FCF5ED;
  ;
  padding: 4rem 0 4rem 0;
}

.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}

.card__side {
  height: 52rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.016);
}

.card__side--front {
  background-color: #fff;
}


.card__side--front-1 {
  background: linear-gradient(-45deg, rgb(255, 213, 0), rgb(255, 128, 0));
}

.card__side--front-2 {
  background: linear-gradient(-45deg, #f321d7, rgb(255, 228, 26));
}

.card__side--front-3 {
  background: linear-gradient(-45deg, #ff0062, #f321d7);
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background: linear-gradient(-45deg, rgb(255, 213, 0), rgb(255, 128, 0));
}

.card__side--back-2 {
  background: linear-gradient(-45deg, #f321d7, rgb(255, 228, 26));
}

.card__side--back-3 {
  background: linear-gradient(-45deg, #ff0062, #f321d7);
}

.card:hover .card__side--front-1,
.card:hover .card__side--front-2,
.card:hover .card__side--front-3 {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.card__title {
  height: 20rem;
  padding: 4rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__title--1 .fas {
  font-size: 3rem;
}

.card__title--2 .fas {
  font-size: 3rem;
}

.card__title--3 .fas {
  font-size: 3rem;
}

.card__heading {
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__details {
  padding: 0 2rem 2rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.piriri {
  color: #594949;
  font-size: 16px;
  width: 600px;

}


.container23 {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  width: 100%;
  display: flex;

}

footer {
  width: 100%;
  height: 113px;
  flex-shrink: 0;
  background: #fff;
}

#embaixolog {
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 103px;
  flex-shrink: 0;
}

#embaixolog img {
  width: 109px;
  height: 103px;
  flex-shrink: 0;
}


@media only screen and (max-width: 367px) {

  .card {
    width: 310px;
    margin: 20px 0 ;
  }


  .container {
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-left: 30px;
  }

  .piriri {
    margin: 15px;
  }
}