@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FCF5ED;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    align-items: center;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.caixa {
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 800px;

}

#logo {
    width: 110px;
    background-color: white;

}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: white;

}

p {
    background-color: white;
    color: #5F6368;
}

.buscar {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 40px;
    flex-direction: column;

}

.buscar input {
    background-color: white;
    width: 536.993px;
    height: 50px;
    flex-shrink: 0;
    padding: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    border-radius: 7.16px;
    border: 0.716px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
}

.senhazinha {
    background-color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin-top: 30px;
    margin: 15px;

}

#botaoMostrarSenha {
    cursor: pointer;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    background-color: white;

}

.legenda {
    background-color: white;
    margin: 14px;
}

.botoes {
    display: flex;
    width: 100%;
    background-color: white;
    margin-top: 30px;
}

.botao1 {
    width: 50%;
    justify-content: left;
    background-color: white;

}

.botao2 {
    width: 50%;
    justify-content: right;
    background-color: white;


}

.botao3 {
    width: 50%;
    justify-content: right;
    background-color: white;


}

.botao1 button {
    background-color: #F69100;
    color: white;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
}

.botao2 button {
    background-color: #F69100;
    color: white;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
}

.botao3 button {

    background-color: white;
    color: black;
    border: solid 1px #c4bfba;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
}


@media only screen and (max-width: 367px) {
    .container {
        height: 800px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .caixa {
        width: 320px;
        height: 700px;
        padding: 10px;
    }

    .buscar input {
        padding: 13px 0px 13px 25px;
        width: 100%;
        text-align: center;
        border: 2px solid #dddddd;
        border-radius: 5px;
        letter-spacing: 1px;
        word-spacing: 3px;
        outline: none;
        font-size: 13px;
        color: #555555;
    }

    .botoes {
        flex-direction: column;
        margin-top: 4px;
    }


    .botao1,
    .botao2,
    .botao3 {
        margin: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        
    }

    h1{
        font-size: 20px;
        margin: 8px;
    }

    p{
        font-size: 15px;
    }


    .legenda{
        font-size: 15px;
    }


    #botaoMostrarSenha{
        width: 20px;
        height: 20px;

    }

    #logo{
        width: 80px;
    }

    
    .botao2 button {
        width: 225px;
    }

    .botao1 button {
        width: 225px;
    }
    .botao3 button {
        width: 225px;
    }
    
}